<div id="J_HotQuan" class="mod hot-quan fixed-mod" bx-name="hotquan" bx-path="components/hotquan/">
    <div class="hd clearfix">
        <h3>
            <span class="ir">热门优惠券</span>
        </h3>
        <a class="more dib" href="#" title="更多" target="_blank">更多&gt;</a>
    </div>
    <div class="bd">
        <div class="side" id="J_HotQuanList">
            <div class="scroller">
                <ul class="ks-switchable-content side-list clearfix">
                    <li class="fl">
                        <a href="#" target="_blank">
                            <img src="http://placebox.es/190/150/67a9e7/ffffff/" width="190" height="150" alt="满200减10"></a>
                        <h4>
                            <a href="#" class="text-hide" target="_blank">EASIYO旗舰店优惠券</a>
                        </h4>
                        <span class="text">限量300张</span>
                    </li>
                    <li class="fl">
                        <a href="#" target="_blank">
                            <img src="http://placebox.es/190/150/67a9e7/ffffff/" width="190" height="150" alt="满200减10"></a>
                        <h4>
                            <a href="#" class="text-hide" target="_blank">第二屏第二屏第二屏第二屏第二屏第二屏第二屏第二屏第二屏第二屏</a>
                        </h4>
                        <span class="text">限量300张</span>
                    </li>
                    <li class="fl">
                        <a href="#" target="_blank">
                            <img src="http://placebox.es/190/150/67a9e7/ffffff/" width="190" height="150" alt="满200减10"></a>
                        <h4>
                            <a href="#" class="text-hide" target="_blank">第三屏第三屏第三屏</a>
                        </h4>
                        <span class="text">限量300张</span>
                    </li>
                </ul>
            </div>

            <a class="slide-trigger slide-prev iconfont" title="上一页">&#403</a>
            <a class="slide-trigger slide-next iconfont" title="下一页">&#402</a>
        </div>
        <div class="num"><strong id="J_CurHotQuanNum">1</strong>/3</div>
    </div>
</div>