/* defaults for all examples */
.kwicks {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks li {
	display: block;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
}
/* example 1 */
#example1 .kwicks li {
	float: left;
	width: 125px;
	height: 100px;
	margin-right: 5px;
}
#example1 .kwick1 {
	background-color: #53b388;
}
#example1 .kwick2 {
	background-color: #5a69a9;
}
#example1 .kwick3 {
	background-color: #c26468;
}
#example1 .kwick4 {
	background-color: #bf7cc7;
	margin-right: none;
}