.tb-content .list-view .item .title{
  width: 40%;
}
.tb-content .list-view .item .total{
  width: 36%;
}
.tb-content .list-view .item .buttons{
  width: 11%;
  text-align: left;
}
.tb-content .list-view .item .btn-compare,
.tb-content .list-view .item .btn-Purchase{
  display: block;
  height: 22px;
  line-height: 22px;
  width: 80px;
  text-align: center;
  margin: 5px 0;
}
.tb-content .list-view .item .btn-compare{
  background-color: #9EE0FF;
  background-image: -moz-linear-gradient(top, #EAFEFF, #9EE0FF);
  background-image: -ms-linear-gradient(top, #EAFEFF, #9EE0FF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EAFEFF), to(#9EE0FF));
  background-image: -webkit-linear-gradient(top, #EAFEFF, #9EE0FF);
  background-image: -o-linear-gradient(top, #EAFEFF, #9EE0FF);
  background-image: linear-gradient(top, #EAFEFF, #9EE0FF);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAFEFF', endColorstr='#A2C7E1', GradientType=0);
  text-shadow: 0 1px 0 #EAFEFF;
  border: 1px solid #A2C7E1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #17237E;
}
.tb-content .list-view .item .btn-Purchase{
  background-color: #FFDA93;
  background-image: -moz-linear-gradient(top, #FAF7E6, #FFDA93);
  background-image: -ms-linear-gradient(top, #FAF7E6, #FFDA93);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAF7E6), to(#FFDA93));
  background-image: -webkit-linear-gradient(top, #FAF7E6, #FFDA93);
  background-image: -o-linear-gradient(top, #FAF7E6, #FFDA93);
  background-image: linear-gradient(top, #FAF7E6, #FFDA93);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF7E6', endColorstr='#FFDA93', GradientType=0);
  text-shadow: 0 1px 0 #FAF7E6;
  border: 1px solid #E5BF76;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #62370C;
}
.tb-content .list-view .item .buttons span{
  color: gray;
}

