<div class="tb-content">

<div class="list-view" bx-name="grid-same-style-list" bx-path="components/_grid-same-style-list_/" >
	{{#baobei}}
	{{#lazystart}}<textarea class="ks-datalazyload-custom">{{/lazystart}}
	<div class="row item">
		<div class="col pic">
			<div class="pic-box">
				<a href="" class="scale" _src="http://img.f2e.taobao.net/img.png?x=80x80">
					<i></i>
					<img src="http://img.f2e.taobao.net/img.png?x=80x80" />
				</a>
			</div>
			<div class="pic-box-big">
				<div class="pic-box-border">
					<div class="pic-box-shim">
						<div class="icon-todo-arrow left"></div>
						<div class="pic-box">
							<a href="" class="scale" _src="{{img}}">
								<i></i>
								<img src="{{img}}" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="quick-btns">
				<a href="" class="antispam" target="_blank" title="举报该宝贝"><span class="icon-busy-anti">举报</span></a>
			</div>
		</div>
		<div class="col title">
			<h3 class="summary">
				<a href="" target="_blank" title="百谷香2012新款韩版打底衫泡泡袖修身夏装女装时尚短袖T恤女大码">
				百谷香2012新款韩版打底衫泡泡袖修身夏装<span class="H">女装</span>时尚短袖T恤女大码			
				</a>
			</h3>
			<div class="list-sv-icon clearfix">
				<a href=""><span class="icon-service-tianmao-large"></span></a>
				<a href=""><span class="icon-service-quanqiugou-large"></span></a>
			</div>
			<div class="seller"><a href="">百谷香旗舰店</a><span class="J_WangWang" data-nick="{$sp_nick}" data-display="inline" data-item="{$bbid}" data-icon="large"></span></div>
		</div>
		<div class="col total">
			<div class="price">￥29.00<em></em></div>
			<div class="shipping">运费：0.00</div>
			<div class="extend">
				<a href="http://www.tmall.com/" target="_blank" title="11"><span class="icon-service-xinyongka">信用卡</span>信用卡</a>
				<a href="http://www.tmall.com/" target="_blank" title="11"><span class="icon-service-zhekou">折扣</span></a>
			</div>
		</div>
		<div class="col buttons">
			<a href="" target="_blank" class="btn-compare">我要比价</a>
			<a href="" target="_blank" class="btn-Purchase">我要购买</a>
			<span>93家店铺在售</span>
		</div>
	</div>
	{{#lazyend}}</textarea>{{/lazyend}}
	{{/baobei}}
</div>
	
</div>