<div id="J_NewProd" class="mod new-product fixed-mod" bx-name="newproduct" bx-path="components/newproduct/">
	<div class="hd clearfix">
		<h3><span class="ir">新品发布</span></h3>
        <a class="more dib" href="#" title="更多" target="_blank">更多&gt;</a>
	</div>
	<div class="bd view view-first">
		<a href="#" target="_blank"><img src="http://fakeimg.pl/190x200/" width="190" height="200" alt=""></a>
        <div class="mask">
            <h4 class="title"><a href="#" target="_blank">标题标题</a></h4>
            <p class="text"><a href="#" target="_blank">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</a></p>
        </div>
	</div>
</div>
