<div class="mod virtual-service fixed-mod" bx-name="virtualservice" bx-path="components/virtualservice/">
<div class="clearfix  hd">
    <h3><span class="ir">虚拟服务</span></h3>
</div>


<div id="J_Recharge" class="virtual-content bd ">
<ul class="ks-fee-nav clearfix">
    <li class="virtual-item virtual-sep" hidefocus="true"> 话费</li>
    <li class="virtual-item virtual-sep" hidefocus="true"> QQ</li>
    <li class="virtual-item" hidefocus="true"> 机票</li>
</ul>
<div class="ks-fee-content">
<div id="J_EtaoPhone" style="display: none;" class="virtual-service-item virtual-phone">
    <div id="recharger"></div>
    <link rel="stylesheet" href="http://a.tbcdn.cn/apps/et/ne/etao/css/v1/dropdown-min.css"/>
</div>
<div id="J_EtaoQQ" style="display: none;" class="virtual-service-item">
    <div id="qqmoney"></div>
</div>
<div id="J_EtaoJiPiao" style="display: none;" class="virtual-service-item">
<link rel="stylesheet" href="http://a.tbcdn.cn/apps/et/ne/etao/css/v1/dropdown-min.css">

<div class="trip-search">
<ul>
<li class="trip-search-item">
    <span class="trip-search-item-title">出发：</span>

    <div id="J_depCity" class="trip-search-dropdown trip-search-city z-index1000">
                <span class="dropdown-hd">
                    <span value="3" class="dropdown-text">-请选择-</span>
                </span>
        <ul class="dropdown-list">
            <li class="dropdown-item"><span value="AKU">A阿克苏</span></li>
            <li class="dropdown-item"><span value="AAT">A阿勒泰</span></li>
            <li class="dropdown-item"><span value="AKA">A安康</span></li>
            <li class="dropdown-item"><span value="AQG">A安庆</span></li>

            <li class="dropdown-item"><span value="AOG">A鞍山</span></li>
            <li class="dropdown-item"><span value="AVA">A安顺</span></li>
            <li class="dropdown-item"><span value="BJS">B北京</span></li>
            <li class="dropdown-item"><span value="BSD">B保山</span></li>
            <li class="dropdown-item"><span value="BAV">B包头</span></li>
            <li class="dropdown-item"><span value="BHY">B北海</span></li>

            <li class="dropdown-item"><span value="BFU">B蚌埠</span></li>
            <li class="dropdown-item"><span value="CKG">C重庆</span></li>
            <li class="dropdown-item"><span value="CTU">C成都</span></li>
            <li class="dropdown-item"><span value="CSX">C长沙</span></li>
            <li class="dropdown-item"><span value="CGQ">C长春</span></li>
            <li class="dropdown-item"><span value="CGD">C常德</span></li>

            <li class="dropdown-item"><span value="CIF">C赤峰</span></li>
            <li class="dropdown-item"><span value="CHG">C朝阳</span></li>
            <li class="dropdown-item"><span value="CIH">C长治</span></li>
            <li class="dropdown-item"><span value="CZX">C常州</span></li>
            <li class="dropdown-item"><span value="CNI">C长海</span></li>
            <li class="dropdown-item"><span value="DLC">D大连</span></li>

            <li class="dropdown-item"><span value="DDG">D丹东</span></li>
            <li class="dropdown-item"><span value="DNH">D敦煌</span></li>
            <li class="dropdown-item"><span value="DLU">D大理</span></li>
            <li class="dropdown-item"><span value="DIG">D迪庆</span></li>
            <li class="dropdown-item"><span value="DAX">D达县</span></li>
            <li class="dropdown-item"><span value="DAT">D大同</span></li>

            <li class="dropdown-item"><span value="DOY">D东营</span></li>
            <li class="dropdown-item"><span value="ENH">E恩施</span></li>
            <li class="dropdown-item"><span value="DSN">E鄂尔多斯</span></li>
            <li class="dropdown-item"><span value="FOC">F福州</span></li>
            <li class="dropdown-item"><span value="FYN">F富蕴</span></li>
            <li class="dropdown-item"><span value="FUG">F阜阳</span></li>

            <li class="dropdown-item"><span value="FUO">F佛山</span></li>
            <li class="dropdown-item"><span value="CAN">G广州</span></li>
            <li class="dropdown-item"><span value="KWL">G桂林</span></li>
            <li class="dropdown-item"><span value="KWE">G贵阳</span></li>
            <li class="dropdown-item"><span value="KOW">G赣州</span></li>
            <li class="dropdown-item"><span value="GOQ">G格尔木</span></li>

            <li class="dropdown-item"><span value="GHN">G广汉</span></li>
            <li class="dropdown-item"><span value="GYS">G广元</span></li>
            <li class="dropdown-item"><span value="HGH">H杭州</span></li>
            <li class="dropdown-item"><span value="HRB">H哈尔滨</span></li>
            <li class="dropdown-item"><span value="HFE">H合肥</span></li>
            <li class="dropdown-item"><span value="HET">H呼和浩特</span></li>

            <li class="dropdown-item"><span value="HAK">H海口</span></li>
            <li class="dropdown-item"><span value="TXN">H黄山</span></li>
            <li class="dropdown-item"><span value="HLD">H海拉尔</span></li>
            <li class="dropdown-item"><span value="HEK">H黑河</span></li>
            <li class="dropdown-item"><span value="HMI">H哈密</span></li>
            <li class="dropdown-item"><span value="HTN">H和田</span></li>

            <li class="dropdown-item"><span value="HYN">H黄岩</span></li>
            <li class="dropdown-item"><span value="HNY">H衡阳</span></li>
            <li class="dropdown-item"><span value="HZG">H汉中</span></li>
            <li class="dropdown-item"><span value="JIL">J吉林</span></li>
            <li class="dropdown-item"><span value="TNA">J济南</span></li>
            <li class="dropdown-item"><span value="JZH">J九寨沟</span></li>

            <li class="dropdown-item"><span value="KNC">J吉安</span></li>
            <li class="dropdown-item"><span value="JNG">J济宁</span></li>
            <li class="dropdown-item"><span value="JMU">J佳木斯</span></li>
            <li class="dropdown-item"><span value="JGN">J嘉峪关</span></li>
            <li class="dropdown-item"><span value="JDZ">J景德镇</span></li>
            <li class="dropdown-item"><span value="JHG">J景洪</span></li>

            <li class="dropdown-item"><span value="JJN">J晋江</span></li>
            <li class="dropdown-item"><span value="JNZ">J锦州</span></li>
            <li class="dropdown-item"><span value="CHW">J酒泉</span></li>
            <li class="dropdown-item"><span value="JIU">J九江</span></li>
            <li class="dropdown-item"><span value="JGS">J井冈山</span></li>
            <li class="dropdown-item"><span value="JIL">J鸡西</span></li>

            <li class="dropdown-item"><span value="SWA">J揭阳</span></li>
            <li class="dropdown-item"><span value="KMG">K昆明</span></li>
            <li class="dropdown-item"><span value="KRY">K克拉玛依</span></li>
            <li class="dropdown-item"><span value="KHG">K喀什</span></li>
            <li class="dropdown-item"><span value="KRL">K库尔勒</span></li>
            <li class="dropdown-item"><span value="KCA">K库车</span></li>

            <li class="dropdown-item"><span value="LHW">L兰州</span></li>
            <li class="dropdown-item"><span value="LXA">L拉萨</span></li>
            <li class="dropdown-item"><span value="LYG">L连云港</span></li>
            <li class="dropdown-item"><span value="LJG">L丽江</span></li>
            <li class="dropdown-item"><span value="LYI">L临沂</span></li>
            <li class="dropdown-item"><span value="LZH">L柳州</span></li>

            <li class="dropdown-item"><span value="LYA">L洛阳</span></li>
            <li class="dropdown-item"><span value="LNJ">L临沧</span></li>
            <li class="dropdown-item"><span value="LZO">L泸州</span></li>
            <li class="dropdown-item"><span value="LCX">L连城</span></li>
            <li class="dropdown-item"><span value="LUM">M芒市</span></li>
            <li class="dropdown-item"><span value="MXZ">M梅县</span></li>

            <li class="dropdown-item"><span value="NZH">M满洲里</span></li>
            <li class="dropdown-item"><span value="MIG">M绵阳</span></li>
            <li class="dropdown-item"><span value="MDG">M牡丹江</span></li>
            <li class="dropdown-item"><span value="NKG">N南京</span></li>
            <li class="dropdown-item"><span value="KHN">N南昌</span></li>
            <li class="dropdown-item"><span value="NGB">N宁波</span></li>

            <li class="dropdown-item"><span value="NAO">N南充</span></li>
            <li class="dropdown-item"><span value="WUS">N南平</span></li>
            <li class="dropdown-item"><span value="NNG">N南宁</span></li>
            <li class="dropdown-item"><span value="NTG">N南通</span></li>
            <li class="dropdown-item"><span value="NNY">N南阳</span></li>
            <li class="dropdown-item"><span value="PZI">P攀枝花</span></li>

            <li class="dropdown-item"><span value="TAO">Q青岛</span></li>
            <li class="dropdown-item"><span value="NDG">Q齐齐哈尔</span></li>
            <li class="dropdown-item"><span value="SHP">Q秦皇岛</span></li>
            <li class="dropdown-item"><span value="IQM">Q且末</span></li>
            <li class="dropdown-item"><span value="IQN">Q庆阳</span></li>
            <li class="dropdown-item"><span value="JJN">Q泉州</span></li>

            <li class="dropdown-item"><span value="JUZ">Q衢州</span></li>
            <li class="dropdown-item"><span value="SHA">S上海</span></li>
            <li class="dropdown-item"><span value="SZX">S深圳</span></li>
            <li class="dropdown-item"><span value="SHE">S沈阳</span></li>
            <li class="dropdown-item"><span value="SJW">S石家庄</span></li>
            <li class="dropdown-item"><span value="SZV">S苏州</span></li>

            <li class="dropdown-item"><span value="SYX">S三亚</span></li>
            <li class="dropdown-item"><span value="SHS">S沙市</span></li>
            <li class="dropdown-item"><span value="SYM">S思茅</span></li>
            <li class="dropdown-item"><span value="TYN">T太原</span></li>
            <li class="dropdown-item"><span value="TSN">T天津</span></li>
            <li class="dropdown-item"><span value="TCG">T塔城</span></li>

            <li class="dropdown-item"><span value="TNH">T通化</span></li>
            <li class="dropdown-item"><span value="TGO">T通辽</span></li>
            <li class="dropdown-item"><span value="TEN">T铜仁</span></li>
            <li class="dropdown-item"><span value="WUH">W武汉</span></li>
            <li class="dropdown-item"><span value="WNZ">W温州</span></li>
            <li class="dropdown-item"><span value="URC">W乌鲁木齐</span></li>

            <li class="dropdown-item"><span value="WUX">W无锡</span></li>
            <li class="dropdown-item"><span value="WXN">W万州</span></li>
            <li class="dropdown-item"><span value="WEF">W潍坊</span></li>
            <li class="dropdown-item"><span value="WEH">W威海</span></li>
            <li class="dropdown-item"><span value="HLH">W乌兰浩特</span></li>
            <li class="dropdown-item"><span value="WUZ">W乌海</span></li>

            <li class="dropdown-item"><span value="WUS">W武夷山</span></li>
            <li class="dropdown-item"><span value="WUZ">W梧州</span></li>
            <li class="dropdown-item"><span value="WNH">W文山</span></li>
            <li class="dropdown-item"><span value="SIA">X西安</span></li>
            <li class="dropdown-item"><span value="XMN">X厦门</span></li>
            <li class="dropdown-item"><span value="DIG">X香格里拉</span></li>

            <li class="dropdown-item"><span value="XNN">X西宁</span></li>
            <li class="dropdown-item"><span value="XUZ">X徐州</span></li>
            <li class="dropdown-item"><span value="JHG">X西双版纳</span></li>
            <li class="dropdown-item"><span value="XFN">X襄樊</span></li>
            <li class="dropdown-item"><span value="XIC">X西昌</span></li>
            <li class="dropdown-item"><span value="XIL">X锡林浩特</span></li>

            <li class="dropdown-item"><span value="ACX">X兴义</span></li>
            <li class="dropdown-item"><span value="XNT">X邢台</span></li>
            <li class="dropdown-item"><span value="INC">Y银川</span></li>
            <li class="dropdown-item"><span value="ENY">Y延安</span></li>
            <li class="dropdown-item"><span value="YNJ">Y延吉</span></li>
            <li class="dropdown-item"><span value="YNT">Y烟台</span></li>

            <li class="dropdown-item"><span value="YNZ">Y盐城</span></li>
            <li class="dropdown-item"><span value="YBP">Y宜宾</span></li>
            <li class="dropdown-item"><span value="YIH">Y宜昌</span></li>
            <li class="dropdown-item"><span value="YIN">Y伊宁</span></li>
            <li class="dropdown-item"><span value="YIW">Y义乌</span></li>
            <li class="dropdown-item"><span value="UYN">Y榆林</span></li>

            <li class="dropdown-item"><span value="YCU">Y运城</span></li>
            <li class="dropdown-item"><span value="LLF">Y永州</span></li>
            <li class="dropdown-item"><span value="CGO">Z郑州</span></li>
            <li class="dropdown-item"><span value="ZUH">Z珠海</span></li>
            <li class="dropdown-item"><span value="ZAT">Z昭通</span></li>
            <li class="dropdown-item"><span value="DYG">Z张家界</span></li>

            <li class="dropdown-item"><span value="ZHA">Z湛江</span></li>
            <li class="dropdown-item"><span value="HSN">Z舟山</span></li>
            <li class="dropdown-item"><span value="ZYI">Z遵义</span></li>
            <li class="dropdown-item"><span value="HJJ">Z芷江</span></li>
        </ul>
    </div>
</li>

<li class="trip-search-item">
    <span class="trip-search-item-title">到达：</span>

    <div id="J_arrCity" class="trip-search-dropdown trip-search-city z-index100">
                <span class="dropdown-hd">
                    <span value="3" class="dropdown-text">-请选择-</span>
                </span>
        <ul class="dropdown-list">
            <li class="dropdown-item"><span value="AKU">A阿克苏</span></li>
            <li class="dropdown-item"><span value="AAT">A阿勒泰</span></li>
            <li class="dropdown-item"><span value="AKA">A安康</span></li>
            <li class="dropdown-item"><span value="AQG">A安庆</span></li>

            <li class="dropdown-item"><span value="AOG">A鞍山</span></li>
            <li class="dropdown-item"><span value="AVA">A安顺</span></li>
            <li class="dropdown-item"><span value="BJS">B北京</span></li>
            <li class="dropdown-item"><span value="BSD">B保山</span></li>
            <li class="dropdown-item"><span value="BAV">B包头</span></li>
            <li class="dropdown-item"><span value="BHY">B北海</span></li>

            <li class="dropdown-item"><span value="BFU">B蚌埠</span></li>
            <li class="dropdown-item"><span value="CKG">C重庆</span></li>
            <li class="dropdown-item"><span value="CTU">C成都</span></li>
            <li class="dropdown-item"><span value="CSX">C长沙</span></li>
            <li class="dropdown-item"><span value="CGQ">C长春</span></li>
            <li class="dropdown-item"><span value="CGD">C常德</span></li>

            <li class="dropdown-item"><span value="CIF">C赤峰</span></li>
            <li class="dropdown-item"><span value="CHG">C朝阳</span></li>
            <li class="dropdown-item"><span value="CIH">C长治</span></li>
            <li class="dropdown-item"><span value="CZX">C常州</span></li>
            <li class="dropdown-item"><span value="CNI">C长海</span></li>
            <li class="dropdown-item"><span value="DLC">D大连</span></li>

            <li class="dropdown-item"><span value="DDG">D丹东</span></li>
            <li class="dropdown-item"><span value="DNH">D敦煌</span></li>
            <li class="dropdown-item"><span value="DLU">D大理</span></li>
            <li class="dropdown-item"><span value="DIG">D迪庆</span></li>
            <li class="dropdown-item"><span value="DAX">D达县</span></li>
            <li class="dropdown-item"><span value="DAT">D大同</span></li>

            <li class="dropdown-item"><span value="DOY">D东营</span></li>
            <li class="dropdown-item"><span value="ENH">E恩施</span></li>
            <li class="dropdown-item"><span value="DSN">E鄂尔多斯</span></li>
            <li class="dropdown-item"><span value="FOC">F福州</span></li>
            <li class="dropdown-item"><span value="FYN">F富蕴</span></li>
            <li class="dropdown-item"><span value="FUG">F阜阳</span></li>

            <li class="dropdown-item"><span value="FUO">F佛山</span></li>
            <li class="dropdown-item"><span value="CAN">G广州</span></li>
            <li class="dropdown-item"><span value="KWL">G桂林</span></li>
            <li class="dropdown-item"><span value="KWE">G贵阳</span></li>
            <li class="dropdown-item"><span value="KOW">G赣州</span></li>
            <li class="dropdown-item"><span value="GOQ">G格尔木</span></li>

            <li class="dropdown-item"><span value="GHN">G广汉</span></li>
            <li class="dropdown-item"><span value="GYS">G广元</span></li>
            <li class="dropdown-item"><span value="HGH">H杭州</span></li>
            <li class="dropdown-item"><span value="HRB">H哈尔滨</span></li>
            <li class="dropdown-item"><span value="HFE">H合肥</span></li>
            <li class="dropdown-item"><span value="HET">H呼和浩特</span></li>

            <li class="dropdown-item"><span value="HAK">H海口</span></li>
            <li class="dropdown-item"><span value="TXN">H黄山</span></li>
            <li class="dropdown-item"><span value="HLD">H海拉尔</span></li>
            <li class="dropdown-item"><span value="HEK">H黑河</span></li>
            <li class="dropdown-item"><span value="HMI">H哈密</span></li>
            <li class="dropdown-item"><span value="HTN">H和田</span></li>

            <li class="dropdown-item"><span value="HYN">H黄岩</span></li>
            <li class="dropdown-item"><span value="HNY">H衡阳</span></li>
            <li class="dropdown-item"><span value="HZG">H汉中</span></li>
            <li class="dropdown-item"><span value="JIL">J吉林</span></li>
            <li class="dropdown-item"><span value="TNA">J济南</span></li>
            <li class="dropdown-item"><span value="JZH">J九寨沟</span></li>

            <li class="dropdown-item"><span value="KNC">J吉安</span></li>
            <li class="dropdown-item"><span value="JNG">J济宁</span></li>
            <li class="dropdown-item"><span value="JMU">J佳木斯</span></li>
            <li class="dropdown-item"><span value="JGN">J嘉峪关</span></li>
            <li class="dropdown-item"><span value="JDZ">J景德镇</span></li>
            <li class="dropdown-item"><span value="JHG">J景洪</span></li>

            <li class="dropdown-item"><span value="JJN">J晋江</span></li>
            <li class="dropdown-item"><span value="JNZ">J锦州</span></li>
            <li class="dropdown-item"><span value="CHW">J酒泉</span></li>
            <li class="dropdown-item"><span value="JIU">J九江</span></li>
            <li class="dropdown-item"><span value="JGS">J井冈山</span></li>
            <li class="dropdown-item"><span value="JIL">J鸡西</span></li>

            <li class="dropdown-item"><span value="SWA">J揭阳</span></li>
            <li class="dropdown-item"><span value="KMG">K昆明</span></li>
            <li class="dropdown-item"><span value="KRY">K克拉玛依</span></li>
            <li class="dropdown-item"><span value="KHG">K喀什</span></li>
            <li class="dropdown-item"><span value="KRL">K库尔勒</span></li>
            <li class="dropdown-item"><span value="KCA">K库车</span></li>

            <li class="dropdown-item"><span value="LHW">L兰州</span></li>
            <li class="dropdown-item"><span value="LXA">L拉萨</span></li>
            <li class="dropdown-item"><span value="LYG">L连云港</span></li>
            <li class="dropdown-item"><span value="LJG">L丽江</span></li>
            <li class="dropdown-item"><span value="LYI">L临沂</span></li>
            <li class="dropdown-item"><span value="LZH">L柳州</span></li>

            <li class="dropdown-item"><span value="LYA">L洛阳</span></li>
            <li class="dropdown-item"><span value="LNJ">L临沧</span></li>
            <li class="dropdown-item"><span value="LZO">L泸州</span></li>
            <li class="dropdown-item"><span value="LCX">L连城</span></li>
            <li class="dropdown-item"><span value="LUM">M芒市</span></li>
            <li class="dropdown-item"><span value="MXZ">M梅县</span></li>

            <li class="dropdown-item"><span value="NZH">M满洲里</span></li>
            <li class="dropdown-item"><span value="MIG">M绵阳</span></li>
            <li class="dropdown-item"><span value="MDG">M牡丹江</span></li>
            <li class="dropdown-item"><span value="NKG">N南京</span></li>
            <li class="dropdown-item"><span value="KHN">N南昌</span></li>
            <li class="dropdown-item"><span value="NGB">N宁波</span></li>

            <li class="dropdown-item"><span value="NAO">N南充</span></li>
            <li class="dropdown-item"><span value="WUS">N南平</span></li>
            <li class="dropdown-item"><span value="NNG">N南宁</span></li>
            <li class="dropdown-item"><span value="NTG">N南通</span></li>
            <li class="dropdown-item"><span value="NNY">N南阳</span></li>
            <li class="dropdown-item"><span value="PZI">P攀枝花</span></li>

            <li class="dropdown-item"><span value="TAO">Q青岛</span></li>
            <li class="dropdown-item"><span value="NDG">Q齐齐哈尔</span></li>
            <li class="dropdown-item"><span value="SHP">Q秦皇岛</span></li>
            <li class="dropdown-item"><span value="IQM">Q且末</span></li>
            <li class="dropdown-item"><span value="IQN">Q庆阳</span></li>
            <li class="dropdown-item"><span value="JJN">Q泉州</span></li>

            <li class="dropdown-item"><span value="JUZ">Q衢州</span></li>
            <li class="dropdown-item"><span value="SHA">S上海</span></li>
            <li class="dropdown-item"><span value="SZX">S深圳</span></li>
            <li class="dropdown-item"><span value="SHE">S沈阳</span></li>
            <li class="dropdown-item"><span value="SJW">S石家庄</span></li>
            <li class="dropdown-item"><span value="SZV">S苏州</span></li>

            <li class="dropdown-item"><span value="SYX">S三亚</span></li>
            <li class="dropdown-item"><span value="SHS">S沙市</span></li>
            <li class="dropdown-item"><span value="SYM">S思茅</span></li>
            <li class="dropdown-item"><span value="TYN">T太原</span></li>
            <li class="dropdown-item"><span value="TSN">T天津</span></li>
            <li class="dropdown-item"><span value="TCG">T塔城</span></li>

            <li class="dropdown-item"><span value="TNH">T通化</span></li>
            <li class="dropdown-item"><span value="TGO">T通辽</span></li>
            <li class="dropdown-item"><span value="TEN">T铜仁</span></li>
            <li class="dropdown-item"><span value="WUH">W武汉</span></li>
            <li class="dropdown-item"><span value="WNZ">W温州</span></li>
            <li class="dropdown-item"><span value="URC">W乌鲁木齐</span></li>

            <li class="dropdown-item"><span value="WUX">W无锡</span></li>
            <li class="dropdown-item"><span value="WXN">W万州</span></li>
            <li class="dropdown-item"><span value="WEF">W潍坊</span></li>
            <li class="dropdown-item"><span value="WEH">W威海</span></li>
            <li class="dropdown-item"><span value="HLH">W乌兰浩特</span></li>
            <li class="dropdown-item"><span value="WUZ">W乌海</span></li>

            <li class="dropdown-item"><span value="WUS">W武夷山</span></li>
            <li class="dropdown-item"><span value="WUZ">W梧州</span></li>
            <li class="dropdown-item"><span value="WNH">W文山</span></li>
            <li class="dropdown-item"><span value="SIA">X西安</span></li>
            <li class="dropdown-item"><span value="XMN">X厦门</span></li>
            <li class="dropdown-item"><span value="DIG">X香格里拉</span></li>

            <li class="dropdown-item"><span value="XNN">X西宁</span></li>
            <li class="dropdown-item"><span value="XUZ">X徐州</span></li>
            <li class="dropdown-item"><span value="JHG">X西双版纳</span></li>
            <li class="dropdown-item"><span value="XFN">X襄樊</span></li>
            <li class="dropdown-item"><span value="XIC">X西昌</span></li>
            <li class="dropdown-item"><span value="XIL">X锡林浩特</span></li>

            <li class="dropdown-item"><span value="ACX">X兴义</span></li>
            <li class="dropdown-item"><span value="XNT">X邢台</span></li>
            <li class="dropdown-item"><span value="INC">Y银川</span></li>
            <li class="dropdown-item"><span value="ENY">Y延安</span></li>
            <li class="dropdown-item"><span value="YNJ">Y延吉</span></li>
            <li class="dropdown-item"><span value="YNT">Y烟台</span></li>

            <li class="dropdown-item"><span value="YNZ">Y盐城</span></li>
            <li class="dropdown-item"><span value="YBP">Y宜宾</span></li>
            <li class="dropdown-item"><span value="YIH">Y宜昌</span></li>
            <li class="dropdown-item"><span value="YIN">Y伊宁</span></li>
            <li class="dropdown-item"><span value="YIW">Y义乌</span></li>
            <li class="dropdown-item"><span value="UYN">Y榆林</span></li>

            <li class="dropdown-item"><span value="YCU">Y运城</span></li>
            <li class="dropdown-item"><span value="LLF">Y永州</span></li>
            <li class="dropdown-item"><span value="CGO">Z郑州</span></li>
            <li class="dropdown-item"><span value="ZUH">Z珠海</span></li>
            <li class="dropdown-item"><span value="ZAT">Z昭通</span></li>
            <li class="dropdown-item"><span value="DYG">Z张家界</span></li>

            <li class="dropdown-item"><span value="ZHA">Z湛江</span></li>
            <li class="dropdown-item"><span value="HSN">Z舟山</span></li>
            <li class="dropdown-item"><span value="ZYI">Z遵义</span></li>
            <li class="dropdown-item"><span value="HJJ">Z芷江</span></li>
        </ul>
    </div>
</li>

<li class="trip-search-item">
    <span class="trip-search-item-title">日期：</span>

    <div id="J_dataBox" class="trip-search-date">

    </div>
</li>
<li class="trip-search-item trip-search-yellow">

    送20-6000个集分宝

</li>
</ul>

<div class="trip-search-form">
    <form class="tcc-form-main" method="get" action="http://s.etao.com/search" target="_blank" id="J_tripSearchForm">
        <input type="hidden" name="arrCity" id="J_arrCityCode"/>
        <input type="hidden" name="arrCityName" id="J_arrCityName"/>
        <input type="hidden" name="depCity" id="J_depCityCode"/>
        <input type="hidden" name="depCityName" id="J_depCityName"/>
        <input type="hidden" name="searchBy" value="etao"/>
        <input type="hidden" name="scene" value="etao_home"/>
        <input type="hidden" name="depDate" id="J_depDate"/>
        <input type="hidden" name="tripType" value="0"/>
        <input type="hidden" name="arrDate" value="yyyy-mm-dd"/>
        <input type="hidden" name="jp_et" id="J_jp"/>
        <input type="hidden" name="q" id="J_q"/>

        <input type="hidden" id="J_tripRecord" value="etaovirtual.61370.11096"/>

        <input type="submit" class="trip-search-btn"/>


        <a href="http://8.etao.com/wanzhuanwanggou/thread-2713364-676567603-0-1-datail.htm?spm=181.360224.296127.1&r=n"
           target="_blank" class="trip-search-from-link">购机票送集分宝</a>

    </form>
</div>
</div>


</div>
</div>
</div>
</div>