<div class="tb-supplement  tb-supplement-promotion" bx-name="supplement-promotion" bx-path="components/_supplement-promotion_/">
<ul class="nav clearfix nav-promotion">
	<li class="result-info">
		找到相关宝贝<em>687069</em>件,<a href="">相关产品<strong>97</strong>款</a>
		<a href="javascript:;" hidefocus="true" >
			<span class="icon-todo-help">
				
			</span>
			<span class="hint">
			<i class="arrow"></i>
				查看同款宝贝
				</span>
		</a>
	</li>
	<li><a target="_blank" href=""><span class="icon-busy-rank"></span>热门闪存卡榜</a></li>
	<li class="divide"></li>
	<li><a target="_blank" href=""><span class="icon-busy-need"></span>去求购</a></li>
	<li class="divide"></li>
	<li><span class="icon-busy-bbs"></span>去<a href="" target="_blank">闪存吧</a></li>
</ul>
</div>